.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  margin: 3px;
  font-size: 1.3rem;
}
.link {
  text-decoration: none;
}

.link-container {
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 0;
  background-color: black;
}
